.up{
    color: rgb(105, 104, 104);
    font-family: 'vazir';
    font-size: 13px;
    border-bottom: 1px solid rgb(211, 207, 207);
    position: relative;
}
 @media screen and (min-width:1023px) and  (max-width:1875px) {
    .menu-item{
        width: 1200px;
    }
 }

.menu-item{
    border: 0.2px solid rgb(211, 207, 207);
    border-radius: 10px;
}
.tab{
    margin: 13px;
}
.tab:hover{
    width: 120px;
    height: 100px;
    background-color: rgba(230, 227, 227, 0.5);
    border-radius: 10px;
}

.choose{
    color: rgb(52, 52, 52);
    font-family: 'vazir';
    font-size: 13px;
}

.ser{
    background-color: #fdb713;
    color: rgb(16, 16, 16);
}

.ser:hover{
    background-color: #e6a50b;
    color: rgb(16, 16, 16);
}